/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#testoAlternato {
  width: 50vw;
  font-size: 2rem;
  border: 2px solid black;
  padding: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes swap {
  from {
    transform: translate(0);
  }
  50% {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translate(0px);
    opacity: 0;
  }
}

span {
  color: rgb(124, 150, 158);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translate(-8px, -30px);
}

.text-1 {
  animation: swap 3s linear 4s infinite forwards;
}
.text-2 {
  animation: swap 3s linear 2s infinite forwards;
}
.text-3 {
  animation: swap 3s linear 0s infinite forwards;
}
